<h1 class="row col-sm justify-content-center">Nos menus</h1>

<h2 class="row col-sm justify-content-center">Menu du marché</h2>

<h3 class="row col-sm justify-content-center"> Formule dîner </h3>
<p class="row col-sm justify-content-center">(Hors week-end et jours fériés)</p>
<p class="row col-sm justify-content-center">Entrée,plat et dessert: 20€</p>
<h3 class="row col-sm justify-content-center">Formule déjeuner</h3>
<p class="row col-sm justify-content-center">(Valable uniquement la semaine hors jours fériés)</p>
<p class="row col-sm justify-content-center">Entrée et plat ou plat et dessert: 16€</p>
